* {
    color:rgba(255, 255, 255, 0.85);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    background-image: url("../images/MyDesk.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
}

/* Header style begins*/
header {
    padding: 20px 35px;
    background-color: rgba(138, 138, 138, 0.13);
    background-image: url("../images/MyDesk.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    box-shadow: -10px 10px 15px rgba(0, 0, 0, 1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header h1 {
    font-size: 55px;
    font-weight: 1000;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

header a {
    text-decoration: none;
    color: rgb(26, 255, 0);
}

header nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

header nav ul li {
    padding: 10px 20px;
    margin: 10px 20px;
    font-size: 36px;
    font-weight: bold;
    text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.5);
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 10%;
}

header nav ul li:hover, 
a:hover {
    background-color: rgba(0, 128, 0, 0.8);
    color: rgba(0, 0, 0, 0.85);
    border-radius: 5%;
}
/* Header style ends */

/* About Me style begins */
.about-me {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    text-align: center;
    border-radius: 2%;
    box-shadow: -10px 10px 15px rgba(0, 0, 0, 1);
    margin-bottom: 5px;
}

.about-me * {
    color: rgba(255, 255, 255, 0.85);
    text-shadow: -3px 3px 6px rgba(0, 0, 0, 0.5);
}

.about-me h2 {
    font-size: 36px;
    font-family: Bush Script MT, Helvetica, Arial, sans-serif;
    font-weight: 1000;
    text-shadow: 10px -10px 15px rgba(0, 0, 0, 0.5);
    border-bottom: ridge 5px rgb(6, 212, 6);
    margin: 0 30%;
}

.about-container {
    display: flex;
    justify-content: space-between;
}

.pic-links {
    padding-left: 1%;
    flex-direction: column;
}

.pic-links img {
    width: 400px;
    height: 400px;
    margin-bottom: 5%;
    box-shadow: 15px 20px 30px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}

.pic-links a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 32px;
    font-weight: bold;
    text-shadow: 10px -10px 15px rgba(0, 0, 0, 0.5);
}

.pic-links ul {
    list-style: none;
}

.bio-skills {
    font-weight: bold;
    flex-direction: column;
    margin-left: 10%;
}

.bio-skills div {
    font-size: 24px;
    margin-bottom: 5%;
    text-shadow: 7px -7px 13px rgba(0, 0, 0, 0.5);
}

.bio-skills div ul h3 {
    font-size: 34px;
    font-weight: 1000;
    border-bottom: solid 1px rgb(6, 212, 6);
    text-shadow: 7px -7px 100px rgb(6, 212, 6);
    margin: 0 30%;
}

.bio-skills div ul li {
    list-style: none;
    font-weight: 1000;
    text-shadow: 7px -7px 100px rgb(6, 212, 6);
}
/* About Me style ends */

/* Skills style begins */

.style-skills {
    font-size: 24px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.85);
    padding: 5px 10px;
    text-align: center;
    border-radius: 2%;
    box-shadow: -10px 10px 15px rgba(0, 0, 0, 1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.style-skills h2 {
    font-size: 36px;
    font-weight: 1000;
    color: whitesmoke;
    text-shadow: -10px 10px 15px rgba(0, 0, 0, 0.5);
    border-bottom: ridge 5px rgb(6, 212, 6);
}

.skillcontainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.python-skills {
    font-size: 24px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.85);
}

.python-skills h3 {
    border-bottom: solid 1px rgb(6, 212, 6);
    font-size: 36px;
    margin: 0 32%;
}

.pythonApps {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pyimg {
    box-shadow: -10px 10px 25px rgba(0, 0, 0, 1);
    width: 500px;
}


.pianoChordProgression,
.probabilityCalculator,
.budgetApp,
.timeCalculator {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

.htmlcss, .python-skills {
    padding: 2%;
}

.htmlcss h3 {
    border-bottom: solid 1px rgb(6, 212, 6);
    font-size: 36px;
    margin: 0 32%;
}

.htmlcss div {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

.python-skills, .htmlcss {
    margin: 0 20px;
}
/* Skills style ends*/

/* Footer style begins*/
footer {
    font-size: 24px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.85);
    padding: 5px 10px;
    text-align: center;
    border-radius: 2%;
    box-shadow: -10px 10px 15px rgba(0, 0, 0, 1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

footer h2 {
    text-shadow: -1px 1px 10px rgba(0, 158, 0, 0.5);
    border-bottom: ridge 5px rgb(6, 212, 6);
}
.footer-container {
    display: flex;
    justify-content: space-between;
    margin: 10px 100px;
    align-items: center;
}

.footer-container div {
    margin: 0 90px;
}

.footer-container div ul li {
    list-style: none;
    margin: 20px 0px;
}

.footer-container div ul li a {
    text-shadow: -1px 1px 10px rgba(0, 158, 0, 0.5);
}

.phone-links {
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 40px rgba(0, 158, 0, 1);
    text-shadow: 7px -7px 13px rgba(0, 0, 0, 0.5);
    border-radius: 2%;
}

.my-city {
    box-shadow: 0px 0px 40px rgba(0, 158, 0, 1);
}
/* Footer style ends*/

.about-me:hover,
.style-skills:hover {
    background-color: rgba(128, 128, 128, 0.8);
}